# backends ignorelist
backend/.venv
backend/**/__pycache__
backend/**/__init__.py
backend/**/migrations

# frontend ignorelist
frontend/.vscode
frontend/node_modules

# global ignorelist
*.env
*.sqlite3
*.bat